.notification {
  border-radius: 5px;
  padding: 10px;
  width: 500px;
  margin-bottom: 20px;
  font-weight: 500;
}

.notification.success {
  border: 2px solid green;
  background-color: lightgreen;
  color: green;
}

.notification.error {
  border: 2px solid red;
  background-color: lightpink;
  color: red;
}

.blog-list ul {
  list-style-type: none;
  padding: 0;
}

.blog-list li {
  display: block;
  padding: 0.5rem;
  border: solid 1px #000;
  margin: 3px 0px;
}

.blog-likes {
  display: flex;
  align-items: center;
  height: 30px;
}

.blog-likes button {
  margin-left: 5px;
}

/* .nav {
  display: flex;
}

.link {
  margin-right: 10px;
}

.user {
  display: flex;
  align-items: center;
}

.user button {
  margin-left: 10px;
} */